/.DS_Store
**/node_modules/
my-blog-main/blog-app/skyblog-8d79c-firebase-adminsdk-i9nu1-7af1ae5920.json
client_secret_990529034428-4pql4ogkt6l2jsk8t2h124ai73m2a8hq.apps.googleusercontent.com.json
.credentials
skyface-web/src/credentials.js
skyface-backend/.env
skyblog_react/credentials.js
